@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Noto Sans";
  min-width: 370px;
  background: #000;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.menu-text {
  font-size: 30px;
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: 2px #000;
}

#view {
  background-image: url("images/view_background.png");
  background-repeat: no-repeat;
  background-size: contain;
}
